doctype html
head
    link(rel="stylesheet" href="app.css")
    title DMX

body
    h1 DMX
    button(onclick="DmxMonitor.dmxMonStart();") Start
    button(onclick="DmxMonitor.dmxMonStop();") Stop
    span Connection is 
        span#conState

    div.dmxMon
        - var row = 0
        while row < 16
            div.dmxRow
                - var col = 0
                while col < 32
                    - var chan = (col + (row * 32))
                    div.dmxCell(id="dmxCell"+chan)
                        div.chanNum= chan+1
                        div.chanVal(id="dmxVal"+chan)= 0
                    - col += 1
            - row += 1
                
    script(type="text/javascript" src="js/jquery.js")
    script(type="text/javascript" src="js/app.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            //Profiles.start();
            //Fixtures.start();
            DmxMonitor.start();

            Connection.showStateInElement("conState");
        })
    