doctype html
head
    link(rel="stylesheet" href="app.css")
    title DMX Override

body
    h1 DMX Override For 
        span#headingName
    div#controlList

    script(type="text/javascript" src="js/jquery.js")
    script(type="text/javascript" src="js/app.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            Profiles.start();
            Fixtures.start();
            DmxOverride.start();
        })
    