body
    background-color: #000000
    color: #808080
    font-family: "Helvetica", "sans-serif"
    
.dmxMon    
    .dmxRow
        margin: 0 0 0.4rem 0
        
    .dmxCell
        display: inline-block
        border: 1px solid #404040
        width: 2rem
        height: 2.2rem
        padding: 0.1rem
        
        .chanNum
            font-size: 0.8rem
            width: 100%
            background-color: #000040
        
        .chanVal
            width: 100%
            text-align: right